<section class="ftco-section ftco-no-pt ftco-no-pb">
    <div class="container">
        <div class="row d-flex no-gutters">
            <div class="col-md-5 d-flex">
                <div class="img img-video d-flex align-self-stretch align-items-center justify-content-center justify-content-md-center mb-4 mb-sm-0 p-5" style="background-image:url(img/home/whychooseme.jpg);">
                </div>
            </div>
            <div class="col-md-7 pl-md-5 py-md-5">
                <div class="heading-section pt-md-5">
                    <h2 class="mb-4">Why Choose My Services?</h2>
                </div>
                <div class="row">
                    <div class="col-md-6 services-2 w-100 d-flex">

                        <div class="icon d-flex align-items-center justify-content-center">
                            <img src="img/home/whychooseme/price.svg" height="50" width="50" />
                        </div>
                        <div class="text pl-3">
                            <h4>Price</h4>
                            <p>I offer a good quality service for you and your house for a fair price.</p>
                        </div>
                    </div>
                    <div class="col-md-6 services-2 w-100 d-flex">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <img src="img/home/whychooseme/quality.svg" height="50" width="50" />
                        </div>
                        <div class="text pl-3">
                            <h4>Quality</h4>
                            <p>I am ready to provide the best for my customers and their houses.</p>
                        </div>
                    </div>
                    <div class="col-md-6 services-2 w-100 d-flex">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <img src="img/home/whychooseme/respect.svg" height="50" width="50" />
                        </div>
                        <div class="text pl-3">
                            <h4>Respect</h4>
                            <p>I will respect your place and keep it safe, always following the rules.</p>
                        </div>
                    </div>
                    <div class="col-md-6 services-2 w-100 d-flex">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <img src="img/home/whychooseme/experience.svg" height="50" width="50" />
                        </div>
                        <div class="text pl-3">
                            <h4>Experience</h4>
                            <p>Me and my team have many years of experience doing cleanings.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
